<!DOCTYPE html>
<html>
  <head>
    <title>Qiu</title>
    <%= csrf_meta_tags %>
    <%= favicon_link_tag 'favicon.ico' %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <% if Rails.env.production? then %>
      <%= analytics_init if GoogleAnalytics.valid_tracker? %>
    <% end %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
